.accordion-tree-form-item {
  float: left;
}


/* All displayed accordion trees will be inside a div with class field-type-accordion-tree
   Use that to limit CSS to just accordion trees
*/

div.field-type-accordion-tree ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

div.field-type-accordion-tree ul.depth {
  padding-left: 20px;
}

div.field-type-accordion-tree ul.depth-0 {
  padding-left: 0px !important;
}

div.field-type-accordion-tree a.trigger {
  background: #e7e7e7 url("images/arrow-right.png") no-repeat center left;
  padding-left: 32px;
  padding-right: 32px;
  display: block;
  border-color: #dadada;
  
}

div.field-type-accordion-tree a {
}

div.field-type-accordion-tree div.outer a {
  /* The user provided content */
  text-decoration: underline;
}

div.field-type-accordion-tree a.trigger.open {
  background-image: url("images/arrow-down.png");
  background-color: #bcd;
}

div.field-type-accordion-tree h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 1.1em;
}

div.field-type-accordion-tree p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0em;
  padding-right: 0em;
  margin: 0;
}

div.field-type-accordion-tree div.outer {
  padding-bottom: 1em;
}


